# Copy to .env and fill in your values
DB_HOST=db.nykisarixoohwxqbxdnz.supabase.co
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=your_supabase_db_password_here
DB_PORT=5432
OCID_TOKEN=pk.57c931092e5f3db890fbbca667e15ac6
